body {
    margin: 0;
    font-family: 'VT323', monospace;
    background-color: #1e1e1e;
}

.menu-nav {
    width: 100wv;
    height: 15vh;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AC0403;
    flex-direction: column;
    margin: 0;
    gap: 0px;
}

.menu-click {
    font-size: 15px;
    color: white;
    margin: 0;
    padding: 0;
}

.menu-nav-text {
    font-size: 70px;
    color: #AC0403;
    font-family: 'VT323', monospace;
    margin: 0;
    padding: 0;
}

.game-main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15vh;
}

.game-main-container {
    width: 443px;
    height: 423px;
    background: #1E1E1E;
    border: 8px solid #AC0403;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-main-task {
    color: white;
    font-size: 56px;
}